# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Others\Vision-Language-Paper-Reading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
